:root {
  --white: #fff;
  --white-darkest: #dde3e6;
  --black-lightest: #485f67;
  --black-light: #222a2c;
  --black: #000;
  --red: #ff5747;
  --red-darker: #cb4539;
  --pink: #fa55ca;
  --blue-lighter: #40d7ff;
  --blue-light: #00ccff;
  --blue: #16bfff;
  --blue-dark: #129acd;
  --blue-darker: #1273cd;
  --navy: #4f74a5;
  --navy-darker: #223d56;
  --green: #2bdc33;
  --green-dark: #23b32a;
  --orange: #ff8a05;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--black-light);
  color: var(--orange);
  text-align: center;
  font-family: 'Raleway', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 1.5em;
}
